@import "bourbon/bourbon"

$blue-color: #59b8c2
$red-color: #e54b4b
$gray-color: #eff3f0

body
    font-family: "RobotoRegular"
    font-weight: normal
    font-size: 14px
    min-width: 320px
    color: #000
    margin: 0
    padding: 0
    position: relative
.container
    width: 100%
    max-width: 1200px
    box-sizing: border-box
    margin: 0 auto
    padding: 0 25px
    overflow: hidden
    position: relative
a, button
    outline: none
h1
    text-align: center
    margin: 10px 0 0 
    a 
        font-weight: normal
        font-family: "ATRIA-BOLD"
        font-size: 21px
        color: #000
        display: inline-block
        padding: 20px 0 5px
        text-decoration: none
        color: $blue-color
        letter-spacing: 0.8px
        span 
            color: $red-color
h2 
    color: #fff
    font-size: 48px
    text-align: center
    font-weight: normal
    font-family: "SF-UI-Display-Heavy"
    margin: 50px 0 30px
.subtitle
    font-size: 28px
    color: #eff3f0
    text-align: center
    margin: 0
    font-family: "SF-UI-Display-Thin"
h3 
    font-weight: normal
    margin: 0 0 30px
    font-size: 28px
    background: url('../img/dotted-line.png') no-repeat center bottom
    padding-bottom: 10px
    color: #464646
    font-family: "SF-UI-Display-Light"
header
    background: url('../img/header-bg.jpg') no-repeat center
    padding: 0 0 90px
    margin-bottom: 70px
    .logo-wrap
        text-align: center
        margin-bottom: 20px
        img
            width: 30px
            height: auto
            margin-top: -5px
.main-contant
    width: 69%
    float: left
    padding: 0 0 70px 
    .site-wrap
        background: $gray-color
        padding: 20px
        overflow: hidden
        transition: all 0.2s ease-in-out
        margin-bottom: 30px
        .thumb-wrap
            float: left
            margin-right: 4%
            width: 27%
            a 
                display: inline-block
                width: 100%
                height: 150px
                overflow: hidden
                img
                    width: 100%
                    height: auto
        .info-wrap
            float: left
            width: 69%
            p 
                text-align: left
            h4 
                margin: 0 0 15px
                overflow: hidden
                a
                    font-weight: normal
                    font-size: 24px
                    color: $blue-color
                    text-decoration: none
                    transition: all 0.2s ease-in-out 
                    &:hover
                        color: $red-color
            .tags
                span 
                    display: inline-block
                    margin-right: 8px
                    color: #9c9c9c
                    font-family: "SF-UI-Text-Light"
                    font-size: 12px
            .worth-info
                color: #f2a421
                font-size: 12px 
                display: inline-block
                font-family: "SF-UI-Text-Bold"
                position: relative
                margin: 7px 15px 15px
                &:before
                    content: ''
                    position: absolute
                    width: 5px 
                    height: 5px 
                    background: #f2a421
                    left: -13px
                    top: 50%
                    margin-top: -3px
                    -moz-transform: rotate(45deg) /* Для Firefox */
                    -ms-transform: rotate(45deg) /* Для IE */
                    -webkit-transform: rotate(45deg) /* Для Safari, Chrome, iOS */
                    -o-transform: rotate(45deg) /* Для Opera */
                    transform: rotate(45deg)
                &:after
                    content: ''
                    position: absolute
                    width: 5px 
                    height: 5px 
                    background: #f2a421
                    right: -13px
                    top: 50%
                    margin-top: -3px
                    -moz-transform: rotate(45deg) /* Для Firefox */
                    -ms-transform: rotate(45deg) /* Для IE */
                    -webkit-transform: rotate(45deg) /* Для Safari, Chrome, iOS */
                    -o-transform: rotate(45deg) /* Для Opera */
                    transform: rotate(45deg)

                &.free
                    color: #44a57a
                    &:before
                        background: #44a57a
                    &:after
                        background: #44a57a
                &.not-free
                    color: $red-color
                    &:before
                        background: $red-color
                    &:after
                        background: $red-color
.filtre-btn-none
    opacity: 0
.filtre-btn
    opacity: 1
    float: right
    margin-right: 25px
    margin-bottom: 25px
    font-size: 16px
    font-family: "SF-UI-Text-Light"
    background: #696969
    border: none
    padding: 8px 20px
    color: #fff
.filtre-btn-fixed
    position: fixed
    z-index: 100
    top: 0
    right: 0
#close-menu
    width: 45px
    height: 45px
    background: url('../img/close.png') no-repeat center
    display: inline-block
    position: absolute
    top: 0
    right: 0
#aside-menu
    min-height: 100vh
    padding-bottom: 50px
    box-sizing: border-box
    .offer-resourse
        position: absolute
        bottom: 0
        color: #fff
        background: #44a57a
        
        font-size: 12px
        text-decoration: none
        padding: 7px 6px
        border: 1px solid #44a57a
        border-bottom: none 
        border-radius: 3px 3px 0 0
        letter-spacing: 1px;
        font-family: "SF-UI-Text-Bold";
        transition: all 0.2s ease-in-out
        &:hover
            color: #44a57a
            background: #fff

.aside-hide
    left: 100% !important
    margin-left: 0!important
aside
    float: right
    width: 27%
    max-width: 310px
    padding: 0 0 70px 
    position: relative
    .search-title
        font-size: 24px
        margin: 10px 0 25px
        font-family: "SF-UI-Display-Thin"
        background: url('../img/dotted-line.png') no-repeat center bottom
        display: inline-block
        padding: 0 0 6px
    ul.skills
        margin: 0
        padding: 0
        li 
            list-style-type: none
            font-size: 15px
            display: inline-block
            padding: 5px 0
            text-decoration: none
            transition: all 0.2s ease-in-out
            cursor: pointer
            margin: 0 6px 10px 0

.checkbox 
    vertical-align: top
    margin: 0 3px 0 0
    width: 17px
    height: 17px

.checkbox + label 
    cursor: pointer
    padding: 5px
    border: 1px solid $blue-color
    background: #fff
    border-radius: 3px
    color: $blue-color
    transition: all 0.2s ease-in-out

.checkbox:not(checked) 
    position: absolute
    opacity: 0

.checkbox:not(checked) + label 
    position: relative 


.checkbox:checked + label
    color: #fff
    border: 1px solid $blue-color
    background: $blue-color



footer
    background: #696969
    text-align: center
    color: #fff
    padding: 25px 0
    p 
        margin: 0
        font-family: "SF-UI-Text-Light"
        font-size: 13px
.fixed
    position: fixed
    top: 0
    right: 0
    left: 50%
    margin-left: 265px
    padding-top: 0
    margin-top: 0
    width: 27%
    width: 310px
    padding: 0 0 70px
    z-index: 101
#form-popup
    width: 100%
    max-width: 600px
    margin: 0 auto
    position: relative
#offer-form
    background: #fff
    padding: 50px
    box-sizing: border-box
    input
        width: 100%
        border-radius: 3px
        border: 2px solid #eff3f0
        height: 40px 
        background: #eff3f0
        margin-bottom: 20px
        outline: none
        text-indent: 10px
        font-size: 16px
        box-sizing: border-box
        &:focus 
            background: #fff 
            border: 2px solid $blue-color
    .worth
        margin: 10px 0 15px
        ul 
            list-style-type: none
            padding: 0
    .checked-wrap
        margin-bottom: 5px
    input[type=radio]
        display: inline-block
        width: 15px 
        height: 15px
        vertical-align: middle
        margin-top: 0
        margin-bottom: 5px
        margin-right: 5px
    label
        font-size: 15px
        margin-bottom: 5px
        display: inline-block
        font-family: "SF-UI-Text-Light"
        color: #949494
        vertical-align: middle
    textarea
        width: 100%
        border-radius: 3px
        border: 2px solid #eff3f0
        height: 120px 
        background: #eff3f0
        outline: none
        margin-bottom: 20px
        text-indent: 10px
        font-size: 16px
        box-sizing: border-box
        font-family: "SF-UI-Display-Light"
        &:focus 
            background: #fff 
            border: 2px solid $blue-color
    button#send
        border: none
        border-radius: 3px
        background: $blue-color
        font-size: 16px
        font-family: "SF-UI-Text-Light"
        transition: all 0.2s ease-in-out
        cursor: pointer
        padding: 0 30px 
        height: 40px
        margin-top: 25px
        color: #fff
        text-transform: uppercase
        &:hover
            background: $red-color
.mfp-close-btn-in .mfp-close
    background: url('../img/close.png') no-repeat center
    font-size: 0
.mfp-fade.mfp-bg 
    opacity: 0
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    transition: all 0.3s ease-out


.mfp-fade.mfp-bg.mfp-ready 
    opacity: 0.8


.mfp-fade.mfp-bg.mfp-removing 
    opacity: 0


.mfp-fade.mfp-wrap .mfp-content 
    opacity: 0
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    transition: all 0.3s ease-out


.mfp-fade.mfp-wrap.mfp-ready .mfp-content 
    opacity: 1


.mfp-fade.mfp-wrap.mfp-removing .mfp-content 
    opacity: 0

.hidden
    display: none
