body {
  font-family: "RobotoRegular";
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 25px;
  overflow: hidden;
  position: relative;
}

a, button {
  outline: none;
}

h1 {
  text-align: center;
  margin: 10px 0 0;
}

h1 a {
  font-weight: normal;
  font-family: "ATRIA-BOLD";
  font-size: 21px;
  color: #000;
  display: inline-block;
  padding: 20px 0 5px;
  text-decoration: none;
  color: #59b8c2;
  letter-spacing: 0.8px;
}

h1 a span {
  color: #e54b4b;
}

h2 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: normal;
  font-family: "SF-UI-Display-Heavy";
  margin: 50px 0 30px;
}

.subtitle {
  font-size: 28px;
  color: #eff3f0;
  text-align: center;
  margin: 0;
  font-family: "SF-UI-Display-Thin";
}

h3 {
  font-weight: normal;
  margin: 0 0 30px;
  font-size: 28px;
  background: url("../img/dotted-line.png") no-repeat center bottom;
  padding-bottom: 10px;
  color: #464646;
  font-family: "SF-UI-Display-Light";
}

header {
  background: url("../img/header-bg.jpg") no-repeat center;
  padding: 0 0 90px;
  margin-bottom: 70px;
}

header .logo-wrap {
  text-align: center;
  margin-bottom: 20px;
}

header .logo-wrap img {
  width: 30px;
  height: auto;
  margin-top: -5px;
}

.main-contant {
  width: 69%;
  float: left;
  padding: 0 0 70px;
}

.main-contant .site-wrap {
  background: #eff3f0;
  padding: 20px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
}

.main-contant .site-wrap .thumb-wrap {
  float: left;
  margin-right: 4%;
  width: 27%;
}

.main-contant .site-wrap .thumb-wrap a {
  display: inline-block;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.main-contant .site-wrap .thumb-wrap a img {
  width: 100%;
  height: auto;
}

.main-contant .site-wrap .info-wrap {
  float: left;
  width: 69%;
}

.main-contant .site-wrap .info-wrap p {
  text-align: left;
}

.main-contant .site-wrap .info-wrap h4 {
  margin: 0 0 15px;
  overflow: hidden;
}

.main-contant .site-wrap .info-wrap h4 a {
  font-weight: normal;
  font-size: 24px;
  color: #59b8c2;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.main-contant .site-wrap .info-wrap h4 a:hover {
  color: #e54b4b;
}

.main-contant .site-wrap .info-wrap .tags span {
  display: inline-block;
  margin-right: 8px;
  color: #9c9c9c;
  font-family: "SF-UI-Text-Light";
  font-size: 12px;
}

.main-contant .site-wrap .info-wrap .worth-info {
  color: #f2a421;
  font-size: 12px;
  display: inline-block;
  font-family: "SF-UI-Text-Bold";
  position: relative;
  margin: 7px 15px 15px;
}

.main-contant .site-wrap .info-wrap .worth-info:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #f2a421;
  left: -13px;
  top: 50%;
  margin-top: -3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-contant .site-wrap .info-wrap .worth-info:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #f2a421;
  right: -13px;
  top: 50%;
  margin-top: -3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-contant .site-wrap .info-wrap .worth-info.free {
  color: #44a57a;
}

.main-contant .site-wrap .info-wrap .worth-info.free:before {
  background: #44a57a;
}

.main-contant .site-wrap .info-wrap .worth-info.free:after {
  background: #44a57a;
}

.main-contant .site-wrap .info-wrap .worth-info.not-free {
  color: #e54b4b;
}

.main-contant .site-wrap .info-wrap .worth-info.not-free:before {
  background: #e54b4b;
}

.main-contant .site-wrap .info-wrap .worth-info.not-free:after {
  background: #e54b4b;
}

.filtre-btn-none {
  opacity: 0;
}

.filtre-btn {
  opacity: 1;
  float: right;
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: "SF-UI-Text-Light";
  background: #696969;
  border: none;
  padding: 8px 20px;
  color: #fff;
}

.filtre-btn-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

#close-menu {
  width: 45px;
  height: 45px;
  background: url("../img/close.png") no-repeat center;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

#aside-menu {
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
}

#aside-menu .offer-resourse {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: #44a57a;
  font-size: 12px;
  text-decoration: none;
  padding: 7px 6px;
  border: 1px solid #44a57a;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  letter-spacing: 1px;
  font-family: "SF-UI-Text-Bold";
  transition: all 0.2s ease-in-out;
}

#aside-menu .offer-resourse:hover {
  color: #44a57a;
  background: #fff;
}

.aside-hide {
  left: 100% !important;
  margin-left: 0 !important;
}

aside {
  float: right;
  width: 27%;
  max-width: 310px;
  padding: 0 0 70px;
  position: relative;
}

aside .search-title {
  font-size: 24px;
  margin: 10px 0 25px;
  font-family: "SF-UI-Display-Thin";
  background: url("../img/dotted-line.png") no-repeat center bottom;
  display: inline-block;
  padding: 0 0 6px;
}

aside ul.skills {
  margin: 0;
  padding: 0;
}

aside ul.skills li {
  list-style-type: none;
  font-size: 15px;
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 6px 10px 0;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #59b8c2;
  background: #fff;
  border-radius: 3px;
  color: #59b8c2;
  transition: all 0.2s ease-in-out;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
}

.checkbox:checked + label {
  color: #fff;
  border: 1px solid #59b8c2;
  background: #59b8c2;
}

footer {
  background: #696969;
  text-align: center;
  color: #fff;
  padding: 25px 0;
}

footer p {
  margin: 0;
  font-family: "SF-UI-Text-Light";
  font-size: 13px;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  margin-left: 265px;
  padding-top: 0;
  margin-top: 0;
  width: 27%;
  width: 310px;
  padding: 0 0 70px;
  z-index: 101;
}

#form-popup {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

#offer-form {
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
}

#offer-form input {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #eff3f0;
  height: 40px;
  background: #eff3f0;
  margin-bottom: 20px;
  outline: none;
  text-indent: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#offer-form input:focus {
  background: #fff;
  border: 2px solid #59b8c2;
}

#offer-form .worth {
  margin: 10px 0 15px;
}

#offer-form .worth ul {
  list-style-type: none;
  padding: 0;
}

#offer-form .checked-wrap {
  margin-bottom: 5px;
}

#offer-form input[type=radio] {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}

#offer-form label {
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  font-family: "SF-UI-Text-Light";
  color: #949494;
  vertical-align: middle;
}

#offer-form textarea {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #eff3f0;
  height: 120px;
  background: #eff3f0;
  outline: none;
  margin-bottom: 20px;
  text-indent: 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "SF-UI-Display-Light";
}

#offer-form textarea:focus {
  background: #fff;
  border: 2px solid #59b8c2;
}

#offer-form button#send {
  border: none;
  border-radius: 3px;
  background: #59b8c2;
  font-size: 16px;
  font-family: "SF-UI-Text-Light";
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0 30px;
  height: 40px;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
}

#offer-form button#send:hover {
  background: #e54b4b;
}

.mfp-close-btn-in .mfp-close {
  background: url("../img/close.png") no-repeat center;
  font-size: 0;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.hidden {
  display: none;
}
