/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.fixed {
		left: 71%;
		margin-left: 0;
	}
	h2 {
		font-size: 48px;
	}
	.subtitle {
		font-size: 25px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header {
		-webkit-background-size: cover;
		background-size: cover;
	}
	#aside-menu {
		width: 310px;
		max-width: 100%;
		transition: all 0.3s ease-in-out;
		background: #a5ebf2;
		left: 100%;
		margin-left: -310px ;
		padding-left: 25px;
		box-sizing: border-box;
		top: 0 ;
		padding-top: 25px ;
		min-height: 100vh;
	}
	.main-contant {
		width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	h2 {
		font-size: 43px;
		margin: 30px 0 40px;
	}
	.subtitle {
	    font-size: 21px;
	}
	header {
		padding: 0 0 70px;
		margin-bottom: 35px;
	}
}

@media only screen and (max-width : 600px) {
	.main-contant .site-wrap .thumb-wrap {
		float: none;
		text-align: center;
		margin: 0 auto 25px;
	}
	.main-contant .site-wrap .thumb-wrap {
		float: none;
		width: 100%;
		max-width: 220px;
	}
	.main-contant .site-wrap .info-wrap {
		width: 100%;
		float: none;
	}
	h3, .main-contant .site-wrap .info-wrap  {
		text-align: center;
	}
	.main-contant .site-wrap .info-wrap .tags span {
		margin: 0 5px;
	}
	.filtre-btn {
		margin-right: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h2 {
	    font-size: 36px;
	    margin: 20px 0 30px;
	}
	.container {
		padding: 0 15px;
	}
	.subtitle {
	    font-size: 18px;
	}
	#offer-form {
		padding: 50px 20px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.filtre-btn, #close-menu {
		display: none !important;
	}
	.checkbox:not(checked) + label:hover {
        color: #e54b4b;
        border: 1px solid #e54b4b;
        background: #fff;
    }
    .checkbox:checked + label:hover {
    	color: #fff;
    	border: 1px solid  #59b8c2;
    	background:  #59b8c2;
    }

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}