{% load staticfiles %}
{% load thumbnail %}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>{% block title %}Language Resources: подборка лучших материалов для изучения иностранных языков{% endblock %}</title>
	<meta name="description" content="Лучшая подборка материалов для эффективного изучения иностранных языков онлайн.">
    <meta name="title" content="Language Resources: подборка лучших материалов для изучения иностранных языков">
    <meta Name="keywords" content="Ресурсы для изучения языков,материалы для обучения онлайн,Английский язык онлайн">
    <link rel="icon" href="{% static "english/img/favicon.png" %}" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block styles %}
        <link rel="stylesheet" href="{% static "english/libs/magnific/magnific-popup.css" %}">
    	<link rel="stylesheet" href="{% static "english/css/fonts.css" %}">
        <link rel="stylesheet" href="{% static "english/css/main.css" %}">
        <link rel="stylesheet" href="{% static "english/css/media.css" %}">
    {% endblock styles %}

    {% block extrahead %}{% endblock extrahead %}

    	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
    {% block scripts %}
        <script src="{% static "english/libs/modernizr/modernizr.js" %}"></script>
        <script src="{% static "english/libs/jquery/jquery-1.11.2.min.js" %}"></script>
        <script src="{% static "english/libs/magnific/jquery.magnific-popup.min.js" %}"></script>

    	<script src="{% static "english/js/common.js" %}"></script>
    {% endblock scripts %}

    {% if not debug %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter38918505 = new Ya.Metrika({
                            id:38918505,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true,
                            trackHash:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/38918505" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
</head>

<body>
{% block content %}
{% endblock %}

</body>
</html>