{% extends "english/base.html" %}

{% load staticfiles %}
{% load thumbnail %}


{% block content %}
    <header>
        <div class="container">
            <div class="logo-wrap"><h1><a href="#"><span>Language</span>Resources</a> </h1><img src="{% static "english/img/logo.png" %}" alt=""></div>
            <h2>Лучшие Ресурсы <br>Для Изучения Английского Языка</h2>
            <p class="subtitle">Здесь собраны все самые полезные сайты для изучения английского языка. <br> Вы имеете прекрасную возможность выбрать то, что подходит именно Вам.</p>
        </div>
    </header>
    <div class="button">
        <div class="sticky-anchor2"></div>
        <button class="filtre-btn">Меню</button>
    </div>


    <div class="container">
        <div class="main-contant">
            {% for site in sites %}
                <div class="site-wrap" data-categories="{% for category in site.tags.all %}{{ category.slug }} {% endfor %}">
                    <div class="thumb-wrap">
                        <a href="{{ site.link }}" target="_blank">
                            {% thumbnail site.image "600x600" crop="top" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ site.name }}">
                            {% empty %}
                            {% endthumbnail %}

                        </a>
                    </div>
                    <div class="info-wrap">
                        <h4><a href="{{ site.link }}" target="_blank">{{ site.name }}</a></h4>
                        <p>{{ site.description }}</p>
                        <span class="worth-info {{ site.price_policy.css_class }}">{{ site.price_policy.text }}</span>
                        <div class="tags">
                            {% for tag in site.tags.all %}
                                <span>#{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <aside>
            <div class="sticky-anchor"></div>
            <div class="menu-wrap aside-hide" id="aside-menu">
                <span id="close-menu"></span>
                <p class="search-title">Фильтр по навыкам:</p>
                <ul class="skills">
                    <li class="toggle main" data-slug="all"><input type="checkbox" class="checkbox" id="checkbox0" checked><label for="checkbox0">Показать все ресурсы</label></li>
                    {% for tag in tags %}
                        <li class="toggle items" data-slug="{{ tag.slug }}"><input type="checkbox" class="checkbox" id="checkbox{{ forloop.counter }}">
                            <label for="checkbox{{ forloop.counter }}">{{ tag.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
{#                <a href="#form-popup" class="popup offer-resourse">Предложить ресурс</a>#}
                <div class="hidden">
                    <div id="form-popup">
                        {% include "english/site_add_form.html" %}
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <footer>
        <p>©Lang-resources.com {% now "Y" %}</p>
        <p>Обратная связь: info@lang-resources.com</p>
    </footer>
{% endblock %}
