<form action="{% url "english:site_add" %}" method="post" id="offer-form">
    {% csrf_token %}
    <h3>Предложите сайт</h3>
    <label for="{{ form.link.id_for_label }}">Ссылка на сайт</label>{{ form.link }}
    {{ form.link.errors }}
    <label for="{{ form.description.id_for_label }}">Описание сайта</label>{{ form.description }}
    {{ form.description.errors }}
    <div class="worth">
        {{ form.price_policy }}
{#                            <div class="checked-wrap"><input type="radio"  name="group1" checked> <label for="">Бесплатный</label></div>#}
    </div>
    {{ form.price_policy.errors }}
    <button id="send" type="submit">Предложить</button>
</form>

{#5fpvYEgl4u4Dd2SSmFhhMUMz0CNEHXX7iLlDQocfMykVWLkUV29Em2IYccSpiehU#}